* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
header {
    background-color:#2C3139 ;
    border: 1px;
}
.list {
    width: 40px;
    height: 28px;
}
.logo{ 
    height: 63px;
    width: 58px;
}
.search-icon{
    width: 28.44px;
    height: 32.85px;
}
.search {
    width: 560px;
    height: 60px;
}
.favourites{
    width: 37px;
    height: 34px;
}
.shopping{
    width: 40px;
    height: 40px;
}
.registration{
    width: 40px;
    height: 44.11px;
}
.interior{
    width: 1923px;
    height: 1080px;
}
h2{
    width: 382px;
    height: 71px;
    margin-left: 140px;

}
.kids-room{
    margin-left: 178px  ;
    width: 220px;
    height: 266px ;
}
h3{ 
    width: 121px;
    height: 36px;
    margin-left: 140px;
}
.Products{
    width: 468px;
    height: 424px;
    margin-left: 187px;
}

